/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --color-text-primary: #1E1A4D;
    --color-text-secondary: #3F3F46;
    --color-bg-primary: #F5F5F5;
}